html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
              radial-gradient(at 50% 0%, hsla(275,100%,25%,1) 0, transparent 50%), 
              radial-gradient(at 100% 0%, hsla(280,100%,15%,1) 0, transparent 50%), 
              radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
              radial-gradient(at 50% 100%, hsla(275,100%,30%,1) 0, transparent 50%), 
              radial-gradient(at 100% 100%, hsla(253,16%,7%,1) 0, transparent 50%);
  background-color: #0d0d0d;
  background-size: 200% 200%;
  animation: moveGradient 15s ease infinite;
}

/* Animação para fazer o fundo "dançar" */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-floating {
  margin: 15px 0;
}
.btn-primary {
  background-color: #34a539;
  border-color: #34a539;
  border-radius: 10px;
}
